@model is402project2.Models.programQuestions

<!--This view will show the users basic information on the programs. -->

<!--BreadCrumb Menu-->
<ul class="breadcrumb" style="background-color:#9b8468; opacity:0.7">
    <li><a style="color:black" href="@Url.Action("Program", "Program")">Return to Programs Menu</a></li>
    <li><a style="color:black" href="@Url.Action("Program", "Program")"> Go to About Page </a></li> 
</ul>

<h2><b>@ViewBag.Name's FAQ's</b></h2>

<hr />

<!--Information About the program-->
<div class="row">
    <div class="col-md-6 col-sm-6 col-lg-6" align="center">
        <br />
        <img src="~/Content/Images/@(ViewBag.Name).jpg" style="width:300px;" />
    </div>

    <div class="col-md-6 col-sm-6 col-lg-6">
            <h4>Program Description:</h4>
            <p>@ViewBag.Description</p>
         
        <p>
            <ul>
                <li>@ViewBag.WeekdayTime.</li>
                <li>This class is available for @ViewBag.AgeGroup.</li>
                <li>@Model.Program.intern.internFirstName is the intern over @ViewBag.Name and will be able to answer any questions you have.</li>
            </ul>

            If you have any questions regarding volunteering for this program or becoming a participant please leave a comment below
            in our comment box and one of our interns will get back to you as soon as possible. Thanks!

        </p>
    </div>
</div>

<hr />

<!--This button will send the users to the FAQ page. if they are not signed in they will have to sign in with google to view this page. -->
@Html.ActionLink("Click here for FAQ", "FandQ","Program", new { id = Model.Program.programID }, new { @class = "btn btn-primary" })

<br />

<!--Footer-->
<div class="container body-content">
    <hr />
    <footer class="myFooterText" align="center">
        <p><b>South Franklin Community Center Address</b></p>
        <p>770 S 700 W, Provo, UT 84601</p>
        <div class="col-md-6 col-sm-6 col-lg-6" align="center">
            <br /><br />
            <img src="~/Content/Images/SFCCLogo.png" style="width:300px;" class="thumbnail" />
        </div>
    </footer>
</div>





